@font-face {
  font-family: GamjaFlower-Regular;
  src: url(../font/GamjaFlower-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: GamjaFlower-Regular;
}

body {
  margin: 0;
}

.container {
  display: flex;
  background-color: #92c7cf;
  align-items: center;
  justify-content: center;
}

.main {
  display: block;
  margin: 40px;
  width: 40%;
  border-radius: 30px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border: 3px solid #7b7b7e;
}

.date {
  margin: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.schedule {
  margin: 20px;
  /* border: 5px solid #4a838c; */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 100px;
  font-size: 2em;
  font-weight: 800;
  /* background-color: #7b7b7e; */
  color: #7b7b7e;
}

td {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  padding: 20px;
}

.day {
  width: 20px;
}

@media (max-width: 800px) {
  .main {
    width: 100%;
    background-color: #f2efe5;
    border-radius: 0;
    border: none;
    margin: 0;
  }

  .schedule {
    width: 100%;
    margin: 0px;
  }

  .date {
    margin-top: 30px;
    font-weight: 700;
  }

  table {
    background-color: white;
  }

  th {
    font-size: 1.3em;
    font-weight: 600;
  }

  td {
    font-size: 0.9em;
    font-weight: 40;
    padding: 10px;
  }

  .date {
    font-size: 1em;
    font-weight: 100;
  }
}
