/* @font-face {
  font-family: GamjaFlower-Regular;
  src: url(../font/GamjaFlower-Regular.ttf);
} */

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbit-regular {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

header {
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#event_name {
  display: none;
}

#picture {
  width: 30%;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
  font-weight: 500;
  font-size: 4em;
  font-family: "Gowun Dodum", sans-serif;
  background-color: rgb(198, 209, 223);
}

.title p {
  color: black;
}

.background_img_container {
  display: none;
}

.btn_container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  /* gap: 40px 20px; */
}

.btn_container > div {
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 600;
  padding-bottom: 20px;
  border-radius: 20px;
  /* box-shadow: 0 0 10px rgba(109, 109, 109, 0.384); */
}

.btn_img {
  width: 40px;
  margin: 10px 10px 10px 10px;
}

.main button:hover {
  background-color: #aad7d9;
  box-shadow: 0 0 10px rgba(146, 146, 146, 0.763);
  transition: all 0.3s;
}

.modal {
  position: fixed;
  display: none;
  /* justify-content: center; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: block;
  position: absolute;
  top: 50%;
  left: 33%;
  right: 25%;
  width: 34%;
  height: 80%;
  padding: 20px;
  overflow: auto;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
  font-family: "omyu_pretty";
}

table {
  width: 100%;
  height: 40vh;
  /* font-family: "GyeonggiBatang", sans-serif; */
  /* font-size: 1.5em; */
}

th {
  border-bottom: 3px solid black;
}

td {
  border-bottom: 1px solid black;
}

.notice {
  display: flex;
  width: 30%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(196, 215, 224);
  align-items: center;
  justify-content: space-between;
  font-family: "Gowun Dodum", sans-serif;
}

.notice > p {
  margin: 0;
}

.site {
  padding-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gowun Dodum", sans-serif;
  cursor: pointer;
}

.site_name {
  margin: 10px;
}

.site_name:hover {
  text-decoration: underline;
}

/* div:nth-child(8) {
  width: fit-content;
  grid-column: 1 / 8;
} */

@media (max-width: 900px) {
  body {
    overflow: hidden;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }

  .main {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    justify-content: center;
    padding: 0;
  }

  .title {
    font-weight: 200;
    padding-bottom: 10px;
    font-family: "Gowun Dodum", sans-serif;
    font-size: 2.5em;
    background-color: transparent;
    color: black;
  }

  .title p {
    color: white;
  }

  .background_img_container {
    display: block;
    width: fit-content;
    height: auto;
  }

  img {
    display: block;
    width: 100vw;
  }

  #event_name {
    display: block;
    font-family: "Gowun Dodum", sans-serif;
    font-size: 0.2em;
    color: gray;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
  }

  /* .background_img {
    box-shadow: 5px 5px 20px 3px rgb(79, 64, 64);
  } */

  .btn_container {
    display: grid;
    flex-direction: column;
    width: 100vw;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    font-size: 0.7em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 5px;
  }

  .btn_container > div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    font-family: "Gowun Dodum", sans-serif;
    background-color: #f9f9f9;
    padding-bottom: 10px;
    border-radius: 20px;
    /* box-shadow: 0 0 10px rgba(109, 109, 109, 0.384); */
  }

  .btn_container > div:hover {
    background-color: rgb(228, 202, 206);
    box-shadow: 0 0 10px rgba(109, 109, 109, 0.384);
  }

  .btn_img {
    width: 20px;
    margin: 10px 10px 10px 10px;
  }

  .main button {
    display: block;
    padding: 0;
    width: 100%;
    height: 80px;
    margin: 0;
    color: black;
    box-sizing: border-box;
    font-weight: 200;
  }

  /* div:nth-child(8) {
    grid-column: 1 / 4;
  } */

  .modal {
    /* justify-content: center; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    display: block;
    position: absolute;
    top: 50%;
    /* left: 33%;
      right: 25%; */
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 0px;
    transform: translateY(-50%);
  }

  .notice {
    display: flex;
    width: auto;
    margin: 20px 10px 10px 10px;
    height: 5%;
    border-radius: 10px;
    background-color: rgb(196, 215, 224);
    align-items: center;
    justify-content: space-between;
    font-family: "Gowun Dodum", sans-serif;
  }

  .notice > p {
    margin: 0;
  }

  .site {
    padding-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gowun Dodum", sans-serif;
  }

  .site_name {
    margin: 10px;
  }

  .site_name:hover {
    text-decoration: underline;
  }
}
