@font-face {
  font-family: GamjaFlower-Regular;
  src: url(./font/GamjaFlower-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: GamjaFlower-Regular;
}

body {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #92c7cf;
  align-items: center;
  justify-content: center;
}

.main {
  display: block;
  width: 40%;
  border-radius: 30px;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.date {
  margin: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.schedule {
  margin: 20px;
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 100px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 2em;
  font-weight: 700;
  background-color: #92c7cf;
}

td {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  padding: 20px;
}

.day {
  width: 20px;
}

@media (max-width: 800px) {
  .main {
    width: 100%;
    height: 100vh;
    background-color: white;
    border-radius: 0;
  }

  .date {
    margin-top: 100px;
  }

  table {
    background-color: white;
  }

  td {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    padding: 10px;
  }

  .date {
    font-size: 1em;
    font-weight: 100;
  }
}
