body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.metronome-container {
  margin-top: 50px;
}

.controls {
  display: inline-block;
  margin-top: 20px;
}

#bpm {
  width: 80px;
  font-size: 18px;
  margin-right: 10px;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}
